<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" *ngIf="type != 'finish'">
  <!-- Position Column -->
  <ng-container matColumnDef="pid">
    <th mat-header-cell *matHeaderCellDef> Pid </th>
    <td mat-cell *matCellDef="let element"> {{element.pid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef> Prioridad </th>
    <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Tiempo de ejecucion </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Tamaño </th>
    <td mat-cell *matCellDef="let element"> {{element.size}} </td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.state}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" *ngIf="type === 'finish'">
  <!-- Position Column -->
  <ng-container matColumnDef="pid">
    <th mat-header-cell *matHeaderCellDef> Pid </th>
    <td mat-cell *matCellDef="let element"> {{element.pid.pid}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef> Prioridad </th>
    <td mat-cell *matCellDef="let element"> {{element.pid.priority}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef> Tiempo de ejecucion </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} Seg</td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef> Tamaño </th>
    <td mat-cell *matCellDef="let element"> {{element.pid.size}} k</td>
  </ng-container>
  <ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef> Estado </th>
    <td mat-cell *matCellDef="let element"> {{element.pid.state}} </td>
  </ng-container>
  <ng-container matColumnDef="finish">
    <th mat-header-cell *matHeaderCellDef> Tiempo total </th>
    <td mat-cell *matCellDef="let element"> {{element.pid.finish}} Seg</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


