.admin{
  border-radius: 8px;
  border: 1px solid black;
  height: 100%;
  padding: 2px;
  .full{
    background-color: blue;
    color: black;
    text-decoration: underline;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    h3{
      margin: 0;
    }
    h4{
      margin: 0;
    }
    p{
      margin: 0;
    }
  }
  .empty{
    background-color: cadetblue;
    color: black;
    border-radius: 8px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h3{
      margin: 0;
    }
  }
  .pagination.memory{
    margin: 0;
  }
}
