<div class="container">
  <div class="column" [formGroup]="formEnv">

      <mat-form-field appearance="outline">
        <mat-label>Memoria total</mat-label>
        <input matInput type="number" formControlName="memoryT" placeholder="Memoria total" (change)="emitMemory()">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Unidad de tiempo</mat-label>
        <input matInput type="number" formControlName="unitTime" placeholder="Tiempo en milisegundos" (change)="emitTime()">
      </mat-form-field>
      <!-- <mat-form-field appearance="outline">
        <mat-label>Tamaño de paginacion</mat-label>
        <input matInput type="number" formControlName="memoryP" placeholder="Memoria de paginacion" (change)="emitMemoryP($event)">
      </mat-form-field> -->

  </div>
</div>


